body {
    margin: 0 auto;
    background-color: #c5d6fb;
}

.containerblog {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

.publi {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.paddtop2 {
    height: 50px;
}

#primero1 {
    height: 100px;
    background: #ffffff;
    border-radius: 100px;
}

#primero2 {
    height: 500px;
    background: #ffffff;
    border-radius: 15px;
}

.container h2 {
    font-size: 35px;
}

#cuarto2 {
    background: linear-gradient(180deg, #1B3B4E 0%, rgba(36, 35, 39, 1) 100%);
    padding-top: 20px;
}

#linea hr {
    width: 10000px;
}

.Eg-Prbg {
    background: linear-gradient(180deg, #1B3B4E 0%, rgba(36, 35, 39, 1) 100%);
    padding-top: 20px;
}