.cont_linea {
    margin: 0 auto;
    background-color: #F1F2F2;
    min-height: 100vh;
}

.atras_timeline:hover {
    cursor: pointer;
}

.paddtop {
    height: 46px;
}

.poptimeline {
    width: 83px;
    height: 83px;
    position: absolute;
    left: -2.7%;
    transition: 0.6s ease-out;
}

.poptimeline:hover {
    transform: translateX(1vw);
    transition: 0.6s ease-out;
}

#openmenu:checked~#menu-panetimeline {
    transform: translateX(4.0vw);
    transition: 0.6s ease-in-out;
}

#menu-panetimeline {
    background-color: #F0D33B;
    position: absolute;
    padding-top: 40px;
    top: 172px;
    width: 83px;
    height: 500px;
    left: -12.7%;
    transition: 0.6s ease-in-out;
    border-radius: 30px;
}

.bgtitle {
    z-index: 0;
    padding-top: 17px;
}

.imgepoca {
    width: 594px;
    height: 594px;
    border-radius: 50%;
}

.fechas {
    font-family: Palanquin Dark;
    font-size: 72px;
    display: flex;
    align-items: center;
}

.txtfechas {
    padding-top: 114px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: #242327;
}

.paddbtm {
    height: 2vh;
}

.item1 {
    background-color: saddlebrown;
}

.tmvideo {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 85vh;
}

.negro2 {
    margin: 0 auto;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: #242327;
    opacity: 1;
}

.Titulo h1 {
    z-index: 1;
    color: #3BBED8;
    font-size: 40px;
}

.titulofecha {
    font-size: 20px;
}

.atras {
    opacity: 0%;
}

@media screen and (max-width: 1440px) {
    .Titulo h1 {
        font-size: 50px;
    }
    .poptimeline {
        left: -8.7%;
    }
    #menu-pane {
        left: -15.0%;
    }
    #openmenu:checked~#menu-pane {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    .bgtitle {
        z-index: 0;
        padding-top: 10px;
    }
    .titulofecha {
        font-size: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .Titulo h1 {
        font-size: 40px;
    }
    .poptimeline {
        left: -8.7%;
    }
    #menu-pane {
        left: -15.0%;
    }
    #openmenu:checked~#menu-pane {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    .bgtitle {
        z-index: 0;
        padding-top: 10px;
    }
    .titulofecha {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    .Titulo h1 {
        font-size: 30px;
    }
    .poptimeline {
        left: -8.7%;
        z-index: -1;
    }
    #menu-panetimeline {
        left: -35.0%;
        z-index: -1;
    }
    #openmenu:checked~#menu-panetimeline {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    .bgtitle {
        z-index: 0;
        padding-top: 10px;
    }
    .titulofecha {
        font-size: 8px;
    }
}

@media screen and (max-width: 425px) {
    .Titulo h1 {
        font-size: 20px;
    }
    .poptimeline {
        left: 0%;
        opacity: 0%;
    }
    #menu-pane {
        left: 0%;
    }
    #openmenu:checked~#menu-pane {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    .bgtitle {
        z-index: 0;
        padding-top: 10px;
    }
    .titulofecha {
        font-size: 8px;
    }
    .atras {
        opacity: 100%;
    }
}