#primeroEg-Pr {
    height: 127px;
    background: #ffffff;
}

.paddtop {
    height: 75px;
}

.paddtop2 {
    height: 50px;
}

#txt_Egresados {
    font-size: 3.5rem;
    color: #3BBED8;
}

.Eg-Prbg {
    background-color: #242327;
}

.txt-info-egre {
    color: white;
}

.txt-info-doc {
    color: white;
}

.slide-egre {
    background-color: #1b1b1b;
    text-align: justify;
}

.slide-doc {
    background-color: #1b1b1b;
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 500px;
}

.ph1 {
    max-width: 400px;
    max-height: 400px;
}

.ph2 {
    max-width: 70px;
    max-height: 70px;
    transition: transform .2s;
}

.ph2:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    .NomEgre h2 {
        font-size: 10px;
    }
    .txt-info-egre {
        font-size: 10px;
    }
    .ph1 {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .ph2 {
        width: 50px;
        height: 50px;
    }
}

.popEg-Pr {
    width: 83px;
    height: 83px;
    position: absolute;
    left: -2.7%;
    transition: 0.6s ease-out;
}

.popEg-Pr:hover {
    transform: translateX(1vw);
    transition: 0.6s ease-out;
}

#openmenu:checked~#menu-paneEg-Pr {
    transform: translateX(4.0vw);
    transition: 0.6s ease-in-out;
}

#menu-paneEg-Pr {
    background-color: #F0D33B;
    position: absolute;
    padding-top: 40px;
    top: 172px;
    width: 83px;
    height: 500px;
    left: -12.7%;
    transition: 0.6s ease-in-out;
    border-radius: 30px;
}

.atras {
    opacity: 0%;
    padding-top: 10px;
}

@media screen and (max-width: 2560px) {
    .popEg-Pr {
        left: -1%;
    }
    .popEg-Pr:hover {
        transform: translateX(1vw);
        transition: 0.6s ease-out;
    }
    #menu-paneEg-Pr {
        left: -4%;
    }
    #openmenu:checked~#menu-paneEg-Pr {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
}

@media screen and (max-width: 1440px) {
    .popEg-Pr {
        left: -1%;
    }
    .popEg-Pr:hover {
        transform: translateX(1vw);
        transition: 0.6s ease-out;
    }
    #menu-paneEg-Pr {
        left: -6%;
    }
    #openmenu:checked~#menu-paneEg-Pr {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
}

@media screen and (max-width: 1024px) {
    .popEg-Pr {
        left: -1%;
    }
    .popEg-Pr:hover {
        transform: translateX(1vw);
        transition: 0.6s ease-out;
    }
    #menu-paneEg-Pr {
        left: -8%;
    }
    #openmenu:checked~#menu-paneEg-Pr {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .popEg-Pr {
        left: -2%;
    }
    #popEg-Pr:checked~#popblog {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    #menu-paneEg-Pr {
        left: -11%;
    }
    #openmenu:checked~#menu-paneEg-Pr {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
}

@media screen and (max-width: 425px) {
    .popEg-Pr {
        left: -9%;
        opacity: 0%;
    }
    #menu-paneEg-Pr {
        left: 0%;
        opacity: 0%;
    }
    #openmenu:checked~#menu-paneEg-Pr {
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
    }
    .atras {
        opacity: 100%;
    }
}