body {
    margin: 0 auto;
    background-color: #c5d6fb;
}

.titulo-blog {
    font-size: 40px;
    text-align: center;
}

.banner-blog {
    background-color: aliceblue;
    height: 100%;
}

.containerblog {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

.paddtop2 {
    height: 50px;
}

#primero1 {
    height: 100px;
    background: #ffffff;
    border-radius: 100px;
}

#primero2 {
    height: 500px;
    background: #ffffff;
    border-radius: 15px;
}

#cuarto2 {
    background: linear-gradient(180deg, #1B3B4E 0%, rgba(36, 35, 39, 1) 100%);
    padding-top: 20px;
}

#linea hr {
    width: 10000px;
}

.Eg-Prbg {
    background: linear-gradient(180deg, #1B3B4E 0%, rgba(36, 35, 39, 1) 100%);
    padding-top: 20px;
}

.estilodiv {
    background-color: aqua;
}

.publicacion {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    text-align: justify;
}

.padd-img {
    padding: 20px 0px 20px 0px;
}