html {
    overflow-x: hidden;
}

.contenedor {
    min-height: 100vh;
}

.textform {
    color: #FFFFFF;
}

.bgdatos {
    background-color: rgba(255, 255, 255, 0.20);
    
    border-radius: 4%;
}

.bgright {
    background-color: #0E1924;
    padding-top: 10%;
}

.btn01 {
    padding-top: 5%;
}

.btn-primary {
    background-color: #277DCB;
}

.sepfoot {
    height: 20%;
}