html {
    overflow-x: hidden;
}

.contenedor {
    min-height: 100vh;
}

.textform {
    color: #0E1924;
}
.txtdato
{
    color: aliceblue;
}
.bgdatos {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 2%;
    padding-top: 5%;
    margin: 0 auto;
}

.bgright {
    background-color: #0E1924;
}

.btn01 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-primary {
    background-color: #277DCB;
}

.sepfoot {
    height: 20%;
}
@media screen and (max-width: 992px) 
{
    .logosilueta {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 768px) 
{
    .bgright {
        margin: 0 auto;
        padding-top: 0%;
    }
    .bgdatos
    {
        border-radius: 0%;
    }
}
@media screen and (max-width: 576px) 
{
    .bgright {
        margin: 0 auto;
        padding-top: 0%;
    }
    .bgdatos
    {
        border-radius: 0%;
    }
}