.cont_linea2 {
    z-index: 1;
    margin: 0 auto;
    min-height: 100vh;
    color: white;
}

.paddtopfechas {
    height: 5vh;
}

.sepfechas {
    height: 6vh;
}

.atras:hover {
    cursor: pointer;
}

.tituloaños {
    font-size: 40px;
}

.añohito {
    font-size: 30px;
}

.infohito {
    font-size: 20px;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .tituloaños {
        font-size: 30px;
    }
    .añohito {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .tituloaños {
        font-size: 15px;
    }
    .infohito {
        font-size: 15px;
        text-align: justify;
    }
    .q{
        width: 40px;
        height: 40px;
    }
}

#videoBG {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

.negro {
    z-index: -1;
    position: fixed;
    min-width: 105%;
    min-height: 100%;
    background-color: rgb(47, 39, 0);
    opacity: 0.6;
}

p {
    font-size: 25px;
}

.q {
    max-width: 50px;
    transition: transform .2s;
}

.q:hover {
    transform: scale(1.1);
}