html {
    overflow-x: hidden;
}

.contenedor {
    min-height: 100vh;
}

.q {
    max-width: 55px;
    transition: transform .2s;
}

.q:hover {
    transform: scale(1.1);
}

.iz {
    padding-top: 2%;
    background-color: #326A8C;
    text-align: center;
    color: #ffffff;
}

.separado {
    height: 260px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 60px;
    color: white;
}

h3:hover {
    color: blue;
}

.dere {
    background-color: #242327;
    padding-top: 17%;
}

.d {
    display: flex;
    justify-content: space-around;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.ig {
    max-width: 230px;
    max-height: 230px;
    transition: transform .2s;
}

.ig:hover {
    transform: scale(1.1);
}

.int {
    margin: 0 auto;
    padding-top: 100px;
}
.di {
   color: #326A8C;
}

.log {
    border-top: solid #ffffff 5px;
    width: 250px;
}

.titulo-rol {
    font-size: 50px;
}

.txt-rol {
    font-size: 50px;
}

.rol:hover {
    cursor: pointer;
}

.rola:hover {
    cursor: pointer;
}

.atras:hover {
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .ig {
        max-width: 150px;
        max-height: 150px;
    }
    .log
    {
        width: 200px;
    }
}
@media screen and (max-width: 768px) {
    .logosilueta {
        width: 80px;
        height: 80px;
    }
    .int {
        margin: 0 auto;
        padding-top: 20px;
    }
    .titulo-rol 
    {
        font-size: 30px;
    }
    .ig {
        max-width: 150px;
        max-height: 150px;
    }
    .txt-rol 
    {
        font-size: 40px;
    }
    .log
    {
        width: 180px;
    }
}
@media screen and (max-width: 576px) {
    .q {
        width: 40px;
        height: 40px;
    }
    .int {
        margin: 0 auto;
        padding-top: 20px;
    }
    .txt-rol {
        font-size: 30px;
    }
}

