html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.paddtop {
    height: 40px;
}

h1 {
    font-size: 70px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    color: #ffffff;
}

p {
    font-size: 30px;
    color: #ffffff;
}

body {
    background-color: #242327;
}

.ph1 {
    max-width: 240px;
    max-height: 240px;
}

.padcre {
    padding-top: 13px;
}

.Creadores {
    padding: 10px;
}
.nomcreador
{
    font-size: 25px;
}
.rol
{
    font-size: 15px;
}
#videoBG {
    position: fixed;
    z-index: -1;
}

#titulocreador {
    font-size: 50px;
    color: #ffffff;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 360px) {
    #titulocreador {
        font-size: 30px;
        color: #ffffff;
    }
}

#primeroEg-Pr {
    height: 120px;
    background: #68a2fa;
    border-radius: 15px;
}

#myVideo {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

.negro{
    z-index: -1;
    position: absolute;
    min-width: 105%;
    min-height: 105%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}